.container {

    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    max-width: 920px;
    margin: 0 auto;
    padding: 20px;
    clear: both;
}

.header{
    color:white;
    background: teal;
    font-family: 'Georgia', Times, Times New Roman, serif;
    float: left;
    font-size: 30px;
    height: 80px;
    width: 250px;
    margin-bottom: 10px;
    text-align:center;
    line-height: 80px;
    margin-left: 80px;
}



h1 {
    color: teal;
    background: #ffffff;
    border-color: #cccccc;
    font-family: 'Georgia', Times, Times New Roman, serif;
    border-bottom: 2px solid grey;
    padding: 10px;
    font-size: 20px;
 
}

a { text-decoration: none;
    color: grey;
    padding: 10px;
}

nav {
    float: right;
    padding: 20px;
    width: 260px;
}

header {
    height: 78px;
    border-bottom: 2px solid grey;
    background: white;
    max-width: 960px;
    text-align: center;
    margin: 0 auto;
}

p {
    color: #777777;
}

footer {
    background: #666666;
    text-align: center;
}

.wrapper {
    background: #ffffff;
    border-color: #dddddd;
    margin: 0 auto;
    padding: 20px;
    height: 700px;
    
}

.Image {
    float:left;
    padding: 20px;
   
}